.listing {
    border-bottom:1px dotted grey;
}

.listing > div {
    margin:4px;
}

.listing .map a {
    margin:3px;
}

.name {
    font-size:20px;
}


.tags {
    font-size:10px;
    color:grey;
}

.link, .hours {
    font-size:12px;
}

.filter {
    margin:5px;
}
